html,
body {
    height: 100%;
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.ui-datepicker {
    z-index: 99999 !important;
}

.ui-datepicker-month {
    color: #000 !important;
}

.ui-datepicker-year {
    color: #000 !important;
}

.ui-widget {
    font-size: 1em !important;
}

.dp {
    border: 0px;
    font-weight: bolder;
    width: 149px;
    float: left;
}

.container-fluid {
    height: 100%;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

.fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

#map {
    z-index: 2;
}

.btn-sq-sm {
    font-size: 1.5em !important;
    z-index: 1003;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

#colorbar {
    position: absolute;
    right: 0px;
    bottom: 50px;
    background: #FFF;
    z-index: 1000;
}

#mapcontrols {
    position: absolute;
    right: 0px;
    top: 100px;
    z-index: 1000;
    width: 50px;
}

#headerdiv {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 55px;
    margin: 0px;
    padding: 0px;
    z-index: 1000;
    background-color: #FFF;
    width: 100%;
}

#maptitlediv {
    position: relative;
    top: 65px;
    width: 100%;
    padding: 0px;
    z-index: 101;
    text-align: center;
}

#maptitle {
    color: #000;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #000;
    background: #FFF;
    text-align: center;
    z-index: 101;
}

#fdetails {
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFF;
    font-weight: bold;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1002;
}

#fdetails span {
    color: #0ff;
}

.deplist {
    padding-left: 20px;
}